brookside-n1.yaml
brookside-n2.yaml
brookside-n3.yaml
brookside-n4.yaml
brookside-n5.yaml
brookside-n6.yaml
talosconfig
kubernetes-n1.yaml
kubernetes-n2.yaml
kubernetes-n3.yaml
kubernetes-n4.yaml
kubernetes-n5.yaml
kubernetes-n6.yaml
